body,html {
    height: 100%;
}

#thumbnails {
    background-color:#1c1c1c;
    height: 150px;
    overflow-x: scroll !important;
    overflow-y: hidden;
}

#thumbnails img {
    height: 140px;
    margin: 5px;
    float: left;
    clear: both;
}

#input img, #output img, #output svg {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    width: 100%;
    object-fit: contain;
    padding: 5px;
}

#mainform {
    height:100%;
}

input[type="file"] {
    display: none;
}

#fileupload, #process {
    background-color: #2a6d83;
    color: #efefef;
    display: inline-block;
    padding: 0 10px;
    margin: 0 5px !important;
    cursor: pointer;
}

#settings {
    margin: 30px 60px 10px 60px;
    text-align: center;
    color: #efefef;
}

#settings p {
    font-size: xx-large;
}

#workpane {
    background-color: #efefef;
}

#count {
    width: 96px;
}

select, input, #currentcount {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0 -1em 0 0 !important;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    line-height: inherit;
    outline: none;
    color: #3991af;
}       

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    margin: 0 -3ch 0 0 !important;
} 

.clause {
    white-space: nowrap;
}

.bluu {
    color: #2a6d83;
}

.download {
    background-color: rgba(10, 10, 10, 0.58);
    width:40px;
    height:40px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    position: relative;
    right: 47px;
    top: 7px;
    display: none;
    margin-right: -40px;
}

.download button {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #ccc;
}

.download button:hover {
    color: #fff;
}

.duringtext {
    display:none;
}

